<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="C:/Users/Admin/Desktop/Formation SQL/Session 4/TECHNIQUES D'AUTOMATISATION DE TESTS II/Cours10 26-01-2024 GithubAction/HaithemDemoGithubAction/Revision">
        <classes>
            <class name="TestDemo"></class>
        </classes>
    </test>
</suite>